.lichChieu {
  display: inline-block;
  width: 100%;
  height: auto;
  border: solid 1px rgba(112, 112, 112, 0.14);
  position: relative;
  text-align: left;
  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &__img {
    height: 9.6rem;
    width: 9.6rem;
    position: absolute;
    top: 2.4rem;
    left: 2.4rem;
    border-radius: 0.2rem;
  }

  &__age {
    height: 2.2rem;
    width: 3.6rem;
    background-color: #f25238;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    color: #fff;
    position: absolute;
    top: 2.5rem;
    left: 13.6 + 0.8rem;

    &__info {
      font-size: 1.2rem;
    }
  }

  &__tenPhim {
    position: absolute;
    top: 1.5 + 0.8rem;
    left: 18 + 0.8rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__loai-phim {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 8 + 4.8 + 0.8rem;
    margin-left: 1.6 + 0.8rem;
    margin-bottom: 1.6 + 0.8rem;
  }

  &__list-time {
    margin-left: 1.6 + 0.8rem;
    &__component {
    margin-bottom: 2.4rem;
      position: relative;
      color: #707070;

      width: 6.4rem;
      height: 3rem;
      display: inline-block;
      border: solid 1px #707070;
      border-radius: 0.5rem;
      margin-right: 1.6rem;
      cursor: pointer;
      &__time {
        position: absolute;
        top:50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
      }

      &:hover {
        color: #f25238;
        border: solid 1px #f25238;
      }
    }
  }
}
