* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: top;
  z-index: 1;

  &__info-film {
    position: absolute;
    left: 8%;
    top: 8rem;
    z-index: 4;
  }

  &__poster-hot-film {
    margin: 0 auto;
    width: 95%;
    height:  35rem;
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    position: absolute;
    bottom: 3.2rem;
    left: 13.6 - 8rem;
    grid-column-gap: 5.2rem;
    z-index: 5;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  &__background-black--left {
    z-index: 2;
    height: 100vh;
    width: 39%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 78%,
      rgba(255, 255, 255, 0) 94%
    );
  }

  &__background-black--bottom {
    z-index: 3;
    height: 17vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.916702) 29%,
      rgba(205, 204, 204, 0.1) 60%
    );
  }

  &__background-img {
    position: absolute;
    background-size: cover;
    background-position: top;
    width: 70%;
    height: 100vh;
    top: 0;
    left: 30%;
    z-index: 1;
  }

  &__interact {
    position: absolute;
    left: 8%;
    top: 18.2rem;
    z-index: 4;

    &-component {
      height: 4.8rem;
      width: 4.8rem;
      position: relative;

      &__img {
        z-index: 6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem;
      }

      &__btn {
        height: 4.8rem;
        width: 4.8rem;
        border: none;
        border-radius: 0.4rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;

        &--orange__black {
          background-color: #b63e2a;
        }

        &--orange__light {
          background-color: #f25238;
        }
      }
    }

    &-component:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &__description {
    position: absolute;
    left: 8%;
    top: 24.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 4;
    width: 25%;
    word-break: break-all;
    height: 29rem;
    color: #b0b0b0;
  }
}

.modal-video{
  position: fixed;
  z-index: 100;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  &-movie-wrap{
    padding-bottom: 0;
  
    & iframe{
      position: fixed;
      z-index: 101;
      left: 50%;
      top: -10%;
      transform: translate(-50%, 50%);
      width: 80rem;
      height: 40rem;
    }
  }
}

.section-list-film{
  width: 100%; 
  height: 130rem; 
  background-color: #fff; 
  position: relative;
  z-index: 0;
  &__category{
    text-align: center;
    margin-bottom: 3rem;
    &__component{
      color: #C6C1C1;
      font-size: 3.2rem;
      margin-right: 4rem;
      margin-left: 4rem;
      margin-top: 4rem;
      cursor: pointer;
      transition: all 0.2s;
      &--active{
        color: #F25238;
      }

      &__line{
        width: 10rem;
        padding-top: 2rem;
        margin: 0 auto;
        border-bottom-width: 2px; 
        border-bottom-style: solid;
        border-bottom-color: #F25238;
      }
    }

    &__component:hover{
      transform: scale(1.1)
    }
  }

  &__list{    
    max-width: 80%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
    grid-row-gap: 60rem;
  } 

  &__arrow{
    width: 10rem;
  }

  &__arrowLeft{
    position: absolute; 
    top: 40%;
    left: 3%;
  
    transition: all 0.4s;
    cursor: pointer;
    &:hover{
      transform: translate(-0.8rem) scale(1.1);
    }
  }

  &__arrowRight{
    position: absolute;
    top: 40%;
    right: 5%;
    transition: all 0.4s;
    cursor: pointer;
    &:hover{
      transform: translate(0.8rem) scale(1.1);
    }
  }
}

#style-navbar::-webkit-scrollbar{
  height: 0.5rem;
}

#style-navbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;

}
 
#style-navbarv::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;

}

#style-navbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;

}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.section-list-theatre{
  width: 100%;
  margin-top: 4rem;
  height: 120vh;
  text-align: center;
  &__heading{
    font-size: 3.2rem;
    color: #F25238;
    margin-bottom: 4rem;
  }

  &__table{
    max-width: 120rem;
    height: 75%;
    margin: 0 auto;
    border-radius: 2rem; 
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
    display: grid; 
    grid-template-columns: 10% 30% 60%;

    &__list-cum-rap{
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &__component{
        border-top-left-radius: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        opacity: 0.5;
        justify-content: center;
        align-items: center;
        &:not(:last-child){
          border-bottom-style: solid;
          border-bottom-width: 1px; 
          border-bottom-color: rgba(112, 112, 112, 0.14);
        }
        &--active{
          opacity: 1;
        }

        &__img{
          width: 5rem;
          height: 5rem;
        }

        &:hover{
          opacity: 1;
        }
      }
    }

    &__list-rap{
      height: 100%;
      overflow: hidden;

      &:hover{
        overflow-y: scroll;
      }
    }

    &__list-lichChieu{
      height: 100%; 
      overflow: hidden;
      &:hover{
        overflow-y: scroll;
      }
    }
  }
}


@media only screen and (max-width: 1295px) {

  .section-list-film{
    &__list{
      grid-template-columns: 50% 50%;
      grid-column-gap: 0rem;
    }
  }
}
@media only screen and (max-width: 995px) {

  *{
    font-size: 8px;
  }

  .section-list-film{
    &__list{
      margin-left: 17%;
      grid-template-columns: 100%;
      grid-column-gap: 0rem;
    }
  }

}

