.heading-primary{
    font-size: 3.2rem; 
    color: #fff;
}

.heading-sub-title{
    font-size: 2.4rem;
    color: #B0B0B0;
}

.heading-sub-title--black{
    font-size: 1.8rem;
    color: #000;
    font-weight: bold; 
}